html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#cesiumContainer {
    position: relative;
    /* height: calc(100vh - 56px); */
    margin: 0;
    padding: 0;
}


/* Suche Adressen */

.eingabe {
    width: 275px;
    margin-right: 10px;
}


/* Make sure the list is good looking in the menu */

#liste {
    position: absolute;
    z-index: 1;
    max-width: 300px;
    margin-top: 10px;
    max-height: 500px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


/* .cesium-baseLayerPicker-item.cesium-baseLayerPicker-selectedItem:active .cesium-baseLayerPicker-itemLabel {
    color: rgb(0, 255, 106);
} */


/* .cesium-baseLayerPicker-selectedItem .cesium-baseLayerPicker-itemIcon {
    border: double 4px rgb(0, 255, 106);
} */

#menu_btn {
    width: 80px;
    overflow: visible;
}


/* Style of the container for pics, use of flex for make them next to each other */


/* .dropdown-item.layermenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.click-animation {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: #007fff;
    animation: click-animation ease-out;
    animation-duration: 0.9s;
    z-index: 9999;
}

@keyframes click-animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.loader.hidden {
    display: none;
}


/* Loading animation loading website */

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    place-self: center;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 2;
    /* set higher z-index */
}

.toast.position-fixed.hide {
    display: none;
}

.toast.position-fixed {
    position: absolute !important;
    z-index: 1;
    left: 0.5%;
    top: 1%;
}

.mr-auto.mb-2 {
    font-size: 15px;
}

.toast-body {
    font-size: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* .cesium-infoBox-iframe {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    overflow-y: hidden !important;
} */


/* use webkit box to align the buttons next to each other */

.cesium-viewer-toolbar {
    display: flex !important;
}

.dropdown-header {
    font-size: 1em;
}


/* Für Bildschirme mit einer maximalen Breite von 768px */

@media screen and (max-width: 768px) {
    .cesium-infoBox {
        /* For small devices make the infobox more wider */
        width: fit-content !important;
    }
    /* For small devices make the menu style more readable */
    .dropdown-header {
        font-size: 1em;
    }
    .language .smallDevices {
        font-size: 1em;
    }
    html,
    body {
        overflow: visible;
    }
}


/* center the button */

#sceneModePickerBtn {
    place-self: center;
}