/* Loading animation infotable */

.loading-animation {
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-top-color: #2ecc71;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s ease-in-out infinite;
    float: left;
    margin-right: 10px;
}

.loading-animation.hide {
    display: none;
}

.loading-row.hide {
    display: none;
}

.loading-row {
    display: contents;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}