/* style of the whole layermenu */

#layermenue_dropdown {
    position: absolute;
    box-sizing: content-box;
    top: auto;
    right: 0;
    left: -6rem !important;
    width: 23.8rem;
    max-width: 400px;
    margin-top: 5px;
    background-color: rgba(38, 38, 38, 0.75);
    border: 1px solid #444;
    padding: 6px;
    overflow: auto;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
}

/* Für Bildschirme mit einer maximalen Breite von 768px */

@media screen and (max-width: 768px) {
   #layermenue_dropdown {
    left: -4.7rem !important;
    max-width: 360px;
}
}

/* Show the button just after he was added to the menu bar */

.dropdown#layermenue_button_toolbar {
    display: none;
}

.dropdown.active#layermenue_button_toolbar {
    display: block;
}

/* Styling of the pictures of layers */

.img_layers {
    width: auto;
    height: auto;
    background-size: 100% 100%;
    border: solid 1px #444;
    border-radius: 9px;
    color: #edffff;
    margin: 0;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
}


/* style of the whole layermenu when its shown */

#layermenue_dropdown.show {
    visibility: visible;
    opacity: 1;
    transform: translate3d(-96px, 34px, 0px) !important;
}

.dropdown-menu.layermenu .section_text {
    color: white;
}

span.title {
    color: white;
    /* display: block; */
    margin-top: 10px;
    margin-left: 5px;
}

span.title.active {
    text-decoration-line: underline;
}

a.dropdown-item.layermenu:hover {
    background-color: transparent;
}

/* style of cotainer for different a tags (layers) */

.section {
    border: 1px solid black;
    border-radius: 5px;
    /* display: flex; */
}

.section_text {
    font-size: 1.5rem;
}

.img_layers:hover {
    border: 0.1rem solid white;
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}

.img_layers.active {
    border: 2px solid greenyellow;
}

.dropdown-menu.layermenu .img_layers {
    width: 70px;
    height: 70px;
}

#section_4_text {
    display: none;
}

#section_4 {
    display: none;
    width: fit-content;
    min-width: 100%;
}


/* Apply styles to the <details> element */

details.dropdown-item.layermenu.WMSLegend-details {
    font-weight: bold;
    border-radius: 5px;
    color: white;
    position: relative !important;
    width: auto;
    max-width: 340px;
    margin-bottom: 5px;
    margin-top: 10px;
}

details.dropdown-item.layermenu.WMSLegend-details:hover {
    background-color: transparent;
    filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}


/* Apply styles to the summary element when it's in an open state */

details.dropdown-item.layermenu.WMSLegend-details[open] {
    background-color: #ccc;
    white-space: break-spaces;
    color: black;
    position: absolute;
    top: 100%;
    left: 3%;
    z-index: 1;
    width: auto;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}


/* Apply styles to the img element */

img.WMSLegend-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Style layeropacity switcher */

.wms-slider{
    width: auto;
    position: relative;
    display: none;
    top: -1.9rem;
    left: 8.6rem;
    cursor: grab;
}

.wms-slider:active{
    cursor: grabbing;
}

.slider-label{
    background: transparent;
    color: #ffffff;
    margin-top: 10px;
    position: relative;
    display: none;
}

.wms-slider.show{
    display: block;
    margin-bottom: -2rem;
}

.slider-label.show{
    display: grid;
}
